.toggle-control {
	display: flex;
	justify-content: flex-start;
	align-items: center;

	&.horizontal {
		flex-direction: row;
	}

	&.vertical {
		align-items: flex-start;
		flex-direction: column;

		& .label-wrap {
			margin-left: 0;
			margin-top: 0.5rem;
		}
	}

	& .label-wrap {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-left: 0.5rem;
	}

	& label {
		font-size: 0.875rem;
		font-weight: 400;
		letter-spacing: -0.01em;
		line-height: 1;
		opacity: 0.65;
		margin: 0;
	}
}
