// Article styles

article {
	width: 100%;
	max-width: 45rem;

	h1 {

	}

	h2 {

	}

	h3 {

	}

	h4 {

	}

	h5 {

	}

	h6 {

	}

	p {

	}

	ul {

	}

	ol {

	}

	li {

	}

	blockquote {

	}

	figure {

	}

	figcaption {

	}

	strong {

	}

	em {

	}

	a {

	}

	code {

	}

	pre {

	}

	hr {

	}
}