// Styles for global search components/layouts.
// Individual components have their own stylesheets.

@use "styles/effects";

.search-section {
	width: 100%;
	min-height: 80vh;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
	position: relative;
	padding: 0 1.5rem 10rem 1.5rem;
}

.results {
	width: 100%;
	max-width: calc(var(--mw) - 5.5rem);
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
	gap: 3rem;
}

.panel {
	width: 100%;
	min-height: calc(100vh - 12rem);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 1rem;

	&.padded {
		padding: 10% 0 5% 0;
	}
}

.index .panel {
	min-height: calc(100vh - 9rem);
}

.error-panel {
	width: 100%;
	min-height: calc(100vh - 9rem);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 1rem;
}

.base-illustration {
	aspect-ratio: 1 / 1;
	padding: 3rem;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: relative;

	&.p-8 {
		padding: 2rem !important;
	}

	& .result-illustration {
		margin-bottom: 0.5rem;

		&:nth-of-type(2) {
			margin-right: 2rem;
		}
	}

	&.fatal {
		& .bg {
			background-color: var(--red-100);

			html.dark & {
				background-color: var(--red-900);
			}
		}
	}

	& .bg {
		width: 100%;
		border-radius: 100%;
		aspect-ratio: 1 / 1;
		background-color: var(--accent-100);
		position: absolute;
		z-index: 1;

		html.dark & {
			background-color: var(--accent-900);
		}
	}
}

.result-illustration {
	width: 100%;
	background-color: var(--ui);
	border-radius: 0.5rem;
	padding: 0.5rem;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: row;
	position: relative;
	z-index: 2;

	@include effects.interactive-shadow();

	& .circle {
		padding: 0.5rem;
		border-radius: 90px;
		background-color: var(--accent);
		color: white;

		html.dark & {
			background-color: var(--accent-600);
		}
	}

	& .content {
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		flex-direction: column;
		margin-left: 0.5rem;
	}

	& .bar {
		height: 0.6rem;
		border-radius: 90px;

		&:first-of-type {
			width: 100px;
			background-color: var(--accent-400);
			margin-bottom: 0.25rem;

			html.dark & {
				background-color: var(--accent-600);
			}
		}

		&:last-of-type {
			width: 60px;
			background-color: var(--accent-200);

			html.dark & {
				background-color: var(--accent-800);
			}
		}
	}
}

.empty-query-illustration {
	width: 100%;
	background-color: var(--ui);
	border-radius: 0.5rem;
	padding: 0.5rem;
	padding-right: 0.7rem;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: row;
	position: relative;
	z-index: 2;

	@include effects.interactive-shadow();

	& .circle {
		color: var(--accent);

		html.dark & {
			background-color: var(--accent-600);
		}
	}

	& .content {
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		flex-direction: column;
		margin-left: 0.25rem;
	}

	& .bar {
		height: 0.6rem;
		border-radius: 90px;

		&:first-of-type {
			width: 160px;
			background-color: var(--accent-200);

			html.dark & {
				background-color: var(--accent-800);
			}
		}
	}
}

.fatal-error-illustration {
	width: 100%;
	background-color: var(--ui);
	border-radius: 0.5rem;
	padding: 0.5rem;
	padding-right: 0.7rem;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: row;
	position: relative;
	z-index: 2;

	@include effects.interactive-shadow();

	& .circle {
		background-color: var(--red-500);
		color: white;
		border-radius: 90px;
		padding: 0.25rem;

		html.dark & {
			background-color: var(--red-600);
		}
	}

	& .content {
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		flex-direction: column;
		margin-left: 0.25rem;
	}

	& .bar {
		height: 0.6rem;
		border-radius: 90px;

		&:first-of-type {
			width: 160px;
			background-color: var(--red-200);

			html.dark & {
				background-color: var(--red-800);
			}
		}
	}
}
