// Special text styles

.mini-text {
	font-size: 1rem;
	font-weight: 500;
	letter-spacing: -0.03em;
	line-height: 1;
	margin: 0;

	&.faded {
		margin-top: 0.125rem;
		opacity: 0.75;
	}
}

.caption {
	font-size: 0.875rem;
	font-weight: 400;
	letter-spacing: -0.01em;
	line-height: 1;
	margin-top: 0;
	opacity: 0.65;

	&.full {
		opacity: 1;
	}

	&.sm {
		font-size: 0.875rem;
	}

	&.lg {
		font-size: 1.125rem;
	}

	&.wrapped {
		line-height: 1.5;
	}
}

.uppercase-caption {
	font-size: 0.875rem;
	font-weight: 600;
	letter-spacing: 0.04em;
	text-transform: uppercase;
	opacity: 0.7;

	&.lg {
		font-size: 1rem;
	}
}
