@use "styles/effects";

.card {
	padding: 1.5rem;
	background-color: var(--ui);
	border-radius: 1rem;

	@include effects.interactive-shadow();

	html.dark & {
		background-color: var(--ui-1);
	}

	& .title {
		font-size: 1.5rem;
		font-weight: 500;
		letter-spacing: -0.01em;
		line-height: 1;
		margin: 0;

		&.sm {
			font-size: 1.2rem;
		}
	}

	& .text {
		font-size: 1rem;
		font-weight: 400;
		letter-spacing: -0.01em;
		line-height: 1.7;
		opacity: 0.8;
		margin: 0;
		margin-top: 1rem;

		&.m-0 {
			margin: 0 !important;
		}

		&.mt-0 {
			margin-top: 0 !important;
		}
	}
}
