footer {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 3rem 1rem;

	& .wrap {
		width: 100%;
		max-width: var(--mw);
		gap: 0.5rem;
	}

	& a {
		color: var(--fg) !important;
		font-size: 0.875rem;
		opacity: 0.75;

		&:hover {
			text-decoration: underline;
		}
	}
}
