@use "styles/effects";

$url-color-map: (
	// Maps accent colors to url colors
	"rose" "green",
	"pink" "green",
	"fuchsia" "green",
	"purple" "cyan",
	"violet" "green",
	"indigo" "green",
	"blue" "green",
	"sky" "green",
	"cyan" "green",
	"teal" "sky",
	"emerald" "sky",
	"green" "sky",
	"lime" "pink",
	"yellow" "pink",
	"amber" "pink",
	"orange" "green",
	"red" "green"
);

.text-result {
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-direction: column;

	& .text-link {
		position: relative;

		&::after {
			content: "";
			border-radius: 0.5rem;
			background-color: var(--ui);
			position: absolute;
			inset: -0.5rem;
			z-index: 1;
			transition: var(--d-m-1) var(--e-s);
			opacity: 0;

			@include effects.interactive-shadow();

			html.dark & {
				background-color: var(--ui-1);
			}
		}

		&:focus {
			outline: none;
		}

		&:hover,
		&:focus {
			&::after {
				opacity: 1;
			}
		}
	}

	& .link-area {
		background-color: transparent;
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		flex-direction: column;
		position: relative;
		z-index: 2;
	}

	& .url {
		color: var(--green-600);
		margin: 0;
		margin-bottom: 0.25rem;

		html.dark & {
			color: var(--green-500);
		}

		& span {
			white-space: nowrap;
		}
	}

	& .description {
		color: var(--accent-600);
		font-weight: 500;
		font-size: 1.15rem;
		line-height: 1.3;
		letter-spacing: -0.02rem;
		margin: 0;
		word-break: break-all;
		max-width: calc(100vw - 4rem);

		html.dark & {
			color: var(--accent-500);
		}
	}

	& .context {
		font-size: 0.875rem;
		line-height: 1.5;
		opacity: 0.75;
		margin: 0;
		margin-top: 0.75rem;
	}

	& .tag {
		background-color: var(--red-500);
		border-radius: 0.25rem;
		padding: 0.25rem;
		margin-top: 0.5rem;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		transition: var(--d-f-2) var(--e-s);

		&:hover {
			background-color: var(--red-600);
		}

		& span {
			font-size: 12px;
			color: white;
			line-height: 1;
		}
	}
}

.text-result .is-skeleton {
	& .skeleton {
		padding: 0 !important;
	}

	& .s-url {
		height: 0.875rem !important;
		width: 5rem;
		margin-bottom: 0.5rem;
		background-color: var(--green-500);
	}

	& .s-description {
		height: 1.15rem;
		width: 10rem;
		background-color: var(--accent-600);
	}

	& .s-context {
		height: 1rem;
		width: 100%;
		background-color: var(--ui-3);

		&.two {
			width: 80%;
			margin-top: 0.35rem;
		}
	}
}

@each $rootColor, $urlColor in $url-color-map {
	html.#{$rootColor} .url {
		color: var(--#{$urlColor}-600) !important;
	}

	html.#{$rootColor}.dark .url {
		color: var(--#{$urlColor}-500) !important;
	}
}

@each $rootColor, $urlColor in $url-color-map {
	.text-result .is-skeleton {
		html.#{$rootColor} & .s-url {
			background-color: var(--#{$urlColor}-600) !important;
		}

		html.#{$rootColor}.dark & .s-url {
			background-color: var(--#{$urlColor}-500) !important;
		}
	}
}
