@use "styles/v";
@use "styles/effects";

$gap: 0.5rem;

@mixin interactive() {
	appearance: none;
	background-color: var(--ui);
	border-radius: 0.5rem;
	padding: 0 1rem;
	font-size: 1rem;
	line-height: 1;
	border: none;

	@include effects.interactive-shadow();

	html.dark & {
		background-color: var(--ui-1);
	}
}

.searchbar {
	position: sticky;
	top: 0;
	padding: 1.5rem 1.5rem 1rem 1.5rem;
}

.searchbar-fader {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 80px;
	background-image: linear-gradient(to bottom, #fafafc, transparent);
	z-index: 80;

	html.dark & {
		background-image: linear-gradient(to bottom, var(--ui), transparent);
	}
}

.searchbar-island {
	position: relative;
	z-index: 992 !important;
}

.searchbar,
.searchbar-island {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	z-index: 90;

	& .wrapper {
		width: 100%;
		max-width: var(--mw);
		position: relative;
		z-index: 900 !important;
	}

	& .input-wrap,
	& .suggestions-wrap {
		width: 100%;
	}

	& .input-wrap {
		height: v.$searchbar-height;
		display: grid;
		grid-template-columns: 1fr v.$searchbar-height;
		grid-template-rows: 1fr 1fr;
		gap: $gap;

		&.show-home-button {
			grid-template-columns: v.$searchbar-height 1fr v.$searchbar-height;
		}

		& .input-control {
			width: 100%;
			position: relative;

			&.has-adornment input {
				padding-left: 1.75rem;
			}

			& .adornment {
				appearance: none;
				height: calc(100% - 0.5rem);
				border-radius: 0.25rem;
				padding: 0 0.25rem;
				display: flex;
				justify-content: center;
				align-items: center;
				background-color: transparent;
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				left: 0.25rem;
				color: var(--text);
				cursor: pointer;
				transition: var(--d-m-2) var(--e-s);

				&.right {
					right: 0.25rem;
					left: unset;
				}

				&:hover {
					opacity: 0.7;
				}

				&:focus {
					outline: none;
				}

				&:focus-visible {
					background-color: #ececf1;

					html.dark & {
						background-color: var(--ui-1);
					}
				}
			}
		}

		& input {
			width: 100%;
			height: v.$searchbar-height;
			font-size: 0.9rem;
			display: flex;
			transition: var(--d-m-2) var(--e-s);

			@include interactive();

			&:focus {
				outline: none;
			}

			&::placeholder {
				font-size: inherit;
				line-height: 1;
			}
		}
	}

	//////////

	& .suggestions-wrap {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		max-width: calc(var(--mw) - v.$searchbar-height - $gap);

		&.list,
		&:not(.grid) {
			& .suggestions-box {
				display: flex;
				justify-content: flex-start;
				align-items: flex-start;
				flex-direction: column;
			}

			& .suggestion {
				width: 100%;
				border-radius: 0.5rem;
				padding: 0.5rem 0.75rem;
				text-align: left;
			}
		}

		&.grid {
			& .suggestions-box {
				display: flex;
				justify-content: flex-start;
				align-items: flex-start;
				flex-direction: row;
				flex-wrap: wrap;
			}

			& .suggestion {
				padding: 0.4rem 0.75rem;
				border-radius: 90px;
				box-shadow: none;
				margin-right: 0.25rem;
				margin-bottom: 0.25rem;
			}
		}

		& .suggestions-box {
			width: 100%;
			padding: 0.5rem !important;
			position: absolute;
			top: 0;
			left: 0;
			will-change: transform opacity;

			@include interactive();

			& .suggestion {
				appearance: none;
				background-color: transparent;
				border: none;

				&:hover,
				&:focus-visible,
				&.selected {
					background-color: var(--accent);
					color: white;
				}

				&:focus {
					outline: none;
				}

				&:active {
					background-color: var(--accent-hover);
				}

				& span {
					font-size: 0.9rem;
					line-height: 1;
				}
			}
		}
	}
}

.searchbar-action {
	width: v.$searchbar-height;
	height: v.$searchbar-height;
	padding: 0 !important;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: var(--d-m-2) var(--e-s);

	@include interactive();

	&:focus {
		outline: none;
	}
}

.raise {
	position: relative;
	z-index: 900;
}