$dot-size: 0.4rem;
$dot-bg: var(--gray-500);
$dot-gap: 0.75rem;
$dot-duration: 0.6s;

.dot-flashing {
	position: relative;
	width: $dot-size;
	height: $dot-size;
	border-radius: 5px;
	background-color: $dot-bg;
	color: $dot-bg;
	animation: dot-flashing $dot-duration infinite linear alternate;
	animation-delay: $dot-duration / 2;
}

.dot-flashing::before,
.dot-flashing::after {
	content: "";
	display: inline-block;
	position: absolute;
	top: 0;
}

.dot-flashing::before {
	left: $dot-gap * -1;
	width: $dot-size;
	height: $dot-size;
	border-radius: 5px;
	background-color: $dot-bg;
	color: $dot-bg;
	animation: dot-flashing $dot-duration infinite alternate;
	animation-delay: 0s;
}

.dot-flashing::after {
	left: $dot-gap;
	width: $dot-size;
	height: $dot-size;
	border-radius: 5px;
	background-color: $dot-bg;
	color: $dot-bg;
	animation: dot-flashing $dot-duration infinite alternate;
	animation-delay: $dot-duration;
}

@keyframes dot-flashing {
	0% {
		background-color: $dot-bg;
	}
	50%,
	100% {
		background-color: rgba(152, 128, 255, 0.2);
	}
}
