// Shadows, gradients, and other effects

$base-shadow: 0 2px 4px 0 rgb(0 0 82 / 15%);
$focus-ring: 0 0 0 3px var(--ui-3);

@mixin interactive-shadow() {
	box-shadow: $base-shadow;

	&:focus {
		box-shadow: 0 5px 9px 0 rgb(0 0 82 / 10%);
	}

	html.dark & {
		box-shadow: 0 0 0 1px var(--ui-2);

		&:focus {
			box-shadow: 0 0 0 1px var(--ui-3);
		}
	}
}

@mixin focus-ring() {
	&:focus {
		box-shadow: $focus-ring;
	}
}

@mixin fluid-shadow() {
	box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.1),
		0 2px 2px 0px rgba(0, 0, 0, 0.05);
}

@mixin dynamic-bg($dark-bg: var(--accent-500)) {
	background-color: var(--ui);
	box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.12), 0 3px 1px 0 rgba(0, 0, 0, 0.04);
	border-radius: 0.5rem;

	html.dark & {
		background: #636366;
	}
}
