@mixin VStack {
	display: flex;
	flex-direction: column;
}

@mixin HStack {
	display: flex;
	flex-direction: row;
}

@mixin CVStack {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

@mixin CHStack {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
}

@mixin SBStack {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
}