$fonts: "Inter", system-ui, -apple-system, BlinkMacSystemFont,
	"Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
	sans-serif;

@mixin inter() {
	font-family: $fonts;
}

@mixin jakarta() {
	font-family: "Plus Jakarta Sans", $fonts !important;
}

@mixin plex-mono() {
	font-family: "IBM Plex Mono", $fonts !important;
}

@mixin plex-sans() {
	font-family: "IBM Plex Sans", $fonts !important;
}

@mixin plex-serif() {
	font-family: "IBM Plex Serif", $fonts !important;
}
