@-webkit-keyframes skeleton {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0.4;
	}
	100% {
		opacity: 1;
	}
}

@keyframes skeleton {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0.4;
	}
	100% {
		opacity: 1;
	}
}

.skeleton,
.skeleton-pulse {
	transition: var(--duration-moderate-01) ease;
	-webkit-animation: skeleton 2s var(--expressive-standard) infinite;
	animation: skeleton 2s var(--expressive-standard) infinite;
}

.skeleton {
	background-color: var(--ui-2);
	padding: 1rem;
	border-radius: var(--border-radius);
	width: 100%;
}

.skeleton.light {
	background-color: var(--ui-1);
}

.skeleton.dark {
	background-color: var(--ui-3);
}