// Global components that are typically just classes

@use "styles/v";
@use "styles/effects";

.index {
	& .root-image-link {
		min-height: 300px;
		aspect-ratio: 1 / 1;
	}

	& .root-image {
		max-width: 300px;
	}
}

.root-image-link {
	width: 100%;
	transition: var(--d-m-1) var(--e-s);

	&:hover {
		opacity: 0.8;
	}
}

.root-image {
	width: 100%;
	aspect-ratio: 1 / 1;
	border-radius: 0.2rem;
	overflow: hidden;

	& img {
		width: 100%;
		min-width: 100%;
		min-height: 100%;
	}
}

.shadow {
	border-radius: 0.5rem;
	background-color: var(--ui);

	@include effects.interactive-shadow();
}
