// Global styles on all elements/root elements

@use "styles/v";
@use "styles/fonts";

$accent: "blue";
$accent-weight: 500;

:root {
	--mw: 680px;

	--accent: var(--#{$accent}-#{$accent-weight});
	--accent-hover: var(--#{$accent}-#{$accent-weight + 100});
	--accent-50: var(--#{$accent}-50);
	--accent-100: var(--#{$accent}-100);
	--accent-200: var(--#{$accent}-200);
	--accent-300: var(--#{$accent}-300);
	--accent-400: var(--#{$accent}-400);
	--accent-500: var(--#{$accent}-500);
	--accent-600: var(--#{$accent}-600);
	--accent-700: var(--#{$accent}-700);
	--accent-800: var(--#{$accent}-800);
	--accent-900: var(--#{$accent}-900);
}

.mw {
	width: 100%;
	max-width: var(--mw);

	&.padded {
		max-width: calc(var(--mw) + 3rem);
		padding: 0 1.5rem;
	}
}

.mw-smaller, .mw-bar {
	max-width: calc(var(--mw) - 5.5rem);
}

html,
body {
	font-size: 16px;
	line-height: 1;

	@include fonts.inter();
}

html.light,
html.light body {
	// background-color: whitesmoke;
	background-color: #fafafc;
}

html.dark,
html.dark body {
	background-color: var(--gray-900);
}

@each $color in v.$colors {
	html.#{$color} {
		--accent: var(--#{$color}-#{$accent-weight});
		--accent-hover: var(--#{$color}-#{$accent-weight + 100});
		--accent-50: var(--#{$color}-50);
		--accent-100: var(--#{$color}-100);
		--accent-200: var(--#{$color}-200);
		--accent-300: var(--#{$color}-300);
		--accent-400: var(--#{$color}-400);
		--accent-500: var(--#{$color}-500);
		--accent-600: var(--#{$color}-600);
		--accent-700: var(--#{$color}-700);
		--accent-800: var(--#{$color}-800);
		--accent-900: var(--#{$color}-900);
	}
}

body {
	min-height: 100vh;
}

a {
	color: var(--fg);
}

a:not([class]) {
	border-bottom: 1px solid rgba(black, 0.3);
	transition: var(--d-m-2) var(--e-s);

	&:hover {
		border-bottom-color: rgba(black, 0.6);
	}
}

hr {
	appearance: none;
	width: 100%;
	margin: 1.5rem 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: transparent;
	border: none;
	box-shadow: none;

	&::after {
		content: "";
		height: 1px;
		width: 100%;
		background-color: var(--ui-3);
	}
}


.list {
	padding: 0;
	padding-inline-start: 1.5rem;
}

.root-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.065);
	transition: var(--d-m-2) var(--e-s);
	z-index: 80;

	html.dark & {
		background-color: rgba(0, 0, 0, 0.4);
	}
}

.index {
	& .root-overlay {
		z-index: -1;
		display: none;
	}
}