@use "styles/v";
@use "styles/effects";

$gap: 0.5rem;

@mixin interactive() {
	appearance: none;
	background-color: var(--ui);
	border-radius: 0.5rem;
	padding: 0 1rem;
	font-size: 1rem;
	line-height: 1;
	border: none;

	@include effects.interactive-shadow();

	html.dark & {
		background-color: var(--ui-1);
	}
}

.settings {
	width: 100%;
	max-width: 400px !important;
	transform-origin: top right;
	padding: 0 !important;
	position: absolute;
	top: $gap + 2.25rem;
	right: 0;
	will-change: transform opacity;
	z-index: 100;

	@include interactive();

	& .column {
		&:first-of-type {
			border-right: 1px solid var(--ui-2);
		}
	}

	& .row {
		width: 100%;
		padding: 1.5rem;
		position: relative;
		transition: var(--d-m-2) var(--e-s);

		html.dark & {
			border-color: var(--ui-2);
		}

		&.is-open {
			z-index: 20;
		}

		&:last-of-type {
			border-bottom: none;
		}
	}

	& .divider {
		width: 100%;
		height: 2px;
		background-color: var(--ui-1);

		html.dark & {
			background-color: var(--ui-2);
		}
	}

	& .overlay {
		// backdrop-filter: blur(3px);
		width: 100%;
		height: 100%;
		position: absolute;
		inset: 0;
		background-color: rgba(black, 0.08);
		border-radius: 0.5rem;
		transition: var(--d-m-2) var(--e-s);
		z-index: 10;
		will-change: opacity;

		opacity: 0;
		pointer-events: none;

		&.show {
			opacity: 1;
			pointer-events: all;
		}
	}

	html.dark & .overlay {
		background-color: rgba(black, 0.2);
	}

	& .accent-picker {
		width: 100%;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
		gap: 0.25rem;
	}

	& .accent-button {
		appearance: none;
		width: 100%;
		aspect-ratio: 1 / 1;
		border-radius: 90px;
		box-shadow: none;
		border: none;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: var(--d-m-2) var(--e-s);

		&:hover {
			transform: scale(1.1);
		}

		&:focus {
			outline: none;
		}

		&:focus-visible {
			box-shadow: 0 0 0 4px rgba(black, 0.1);

			html.dark & {
				box-shadow: 0 0 0 4px rgba(white, 0.1);
			}
		}

		&.selected {
			& .dot {
				opacity: 1;
				transform: scale(1);
			}
		}

		& .dot {
			width: 0.5rem;
			height: 0.5rem;
			background-color: white;
			border-radius: 90px;
			transition: var(--d-m-2) var(--e-s);

			opacity: 0;
			transform: scale(0);
		}
	}
}

@media only screen and (max-width: v.$sm) {
	.settings {
		max-width: none !important;
		position: fixed;
		inset: 0;
	}
}
